body {
    background: #f7f7f7;
}

.input1::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    background-image: url(http://vk.com/images/emoji/D83DDE0A_2x.png);
    background-repeat: no-repeat, repeat-x;
    background-size: contain;
    background-position: right;
    color: #e3e3e3;
}

.input1:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    background-image: url(http://vk.com/images/emoji/D83DDE0A_2x.png);
    background-repeat: no-repeat, repeat-x;
    background-size: contain;
    background-position: right;
    color: #e3e3e3;
}

.input1::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    background-image: url(http://vk.com/images/emoji/D83DDE0A_2x.png);
    background-repeat: no-repeat, repeat-x;
    background-size: contain;
    background-position: right;
    color: #e3e3e3;
}

.input1:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    background-image: url(http://vk.com/images/emoji/D83DDE0A_2x.png);
    background-repeat: no-repeat, repeat-x;
    background-size: contain;
    background-position: right;
    color: #e3e3e3;
}

.input1::-ms-input-placeholder {
    /* Microsoft Edge */
    background-image: url(http://vk.com/images/emoji/D83DDE0A_2x.png);
    background-repeat: no-repeat, repeat-x;
    background-size: contain;
    background-position: right;
    color: #e3e3e3;
}

.input1 {
    font-size: 14px;
    margin-top: 0;
    border: 1px solid #e2effb;
    width: 210px;
}

.content {
    width: 700px; //position: fixed;   
    top: 57px; //display: block;
    align: center;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #e3e3e3;
}

.table_col {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px; //width: 660px;
    background: white; //text-align: left;
    border-collapse: collapse;
    color: #3E4347;
    margin: 10px auto;
}

.table_col th:first-child,
.table_col td:first-child {
    color: #26292b;
}

.table_col th {
    font-weight: normal;
    border-bottom: 2px solid #F5E1A6;
    border-right: 8px solid white;
    border-left: 8px solid white;
    padding: 5px 13px;
    text-align: center;
}

.table_col td {
    border-right: 8px solid white;
    border-left: 8px solid white;
    padding: 1px 40px;
    color: #8b8e91;
}

th:first-child {
    background: #e4f2ff;
}

.smileexample {
    display: block;
    /* Блочный элемент (для старых браузеров) */
    background-color: #fafbfc;
    height: 23px;
    width: 550px;
    text-align: center;
    border-right: 1px solid #e3e4e8;
    border-left: 1px solid #e3e4e8;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: 74px;
}

h1 {
    //font-family: Courier New, sans-serif;
    font: normal 16px 'PT Sans Caption', sans-serif;
    font-size: 17px;
    margin: 10px 10px 16px;
}

h2 {
    //font-family: Courier New, sans-serif;
    font: normal 16px 'PT Sans Caption', sans-serif;
    font-size: 17px;
    margin: 10px 10px 0px;
}

FIELDSET {
    margin: 0px 10px 20px 10px;
    border: 1px solid #e3e4e8;
}

.content-headline {
    text-align: center;
}

button.button15 {
    font-family: verdana;
    color: rgb(95, 105, 109);
    user-select: none;
    outline: none;
    border: 1px solid rgb(183, 182, 181);
    border-radius: 5px;
    background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
    display: block;
    width: 140px;
    margin: 15px auto;
    font-size: 16px;
    height: 32px;
    margin-bottom: 15px;
    cursor: pointer
}

button.button15:hover {
    color: rgb(24, 24, 24);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

button.button15:active {
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

.savemessage {
    margin: 15px auto;
    font-size: 16px;
    text-align: center;
}

.smile_bar {
    display: inline-block;
    position: relative;
    padding: 3px 4.9px;
    margin-right: 1px;
    width: 16px;
    height: 16px;
}

.smile_table {
    text-align: center;
    width: 16px;
    height: 16px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.fig_smilebar {
    display: block;
    /* Блочный элемент (для старых браузеров) */
    text-align: center;
    /* Выравнивание по центру */
    margin-top: 0;
    /* Отступ сверху */
    margin-bottom: 0px;
    /* Отступ снизу */
}

.fig {
    display: block;
    /* Блочный элемент (для старых браузеров) */
    text-align: center;
    /* Выравнивание по центру */
    margin-top: 0;
    /* Отступ сверху */
    margin-bottom: 0px;
    /* Отступ снизу */
    height: 20px;
}